* {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    overflow-x: hidden;
    font-weight: 300;
    max-width: 1200px;
    background-image: url("../../images/main/sell-custom-valorant-stinger-transition.png");
}

/* === HEADER === */

nav {
    background-color: #0f1922;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navigation-menu {
    flex-grow: 2;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: #FA4454;
    transition: 0.1s ease;
    border-bottom: 5px solid #FA4454;
    border-radius: 5px;
}

.logo {
    width: 90px;
    height: 90px;
}

.nav-toggle {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    padding-top: 0.5rem;
}

.hamburger-icon {
    filter: invert(100%) sepia(12%) saturate(7454%) hue-rotate(225deg) brightness(115%) contrast(116%);
}

.hidden {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content li {
    margin-bottom: 1.3rem;
    text-align: center;
}

.dropdown-content li a {
    color: black;
    font-size: 0.9rem;
}

.dropdown-content {
    margin-top: 0.4rem;
    padding-top: 1.5rem;
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    height: 20vh;
    z-index: 1;
    border-radius: 0.3rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}





/* === CONTENT === */
/*
.container {
    height: 100vh;
}*/

.map-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.map-menu-list {
    list-style-type: none;
    display: inline-flex;
}
.map-menu-list > .map-list-item {
    margin-left: 20px;
}
.map-menu-list > .map-list-item > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
}
.map-menu-list > .map-list-item > a:hover {
    color: #FA4454;
    transition: 0.4s ease
}

.maps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.map-block {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.349);
    margin-top: 30px;
    padding: 0 35px 30px 35px;
    height: min-content;
    border-radius: 10px;
    cursor: pointer;
}
.map-block:hover {
    background-color: black;
}

.map-block > .map-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#FA4454;
}
.map-block:hover > .map-title {
    color: white;
}
.map-block > .map-picture {
    height: 250px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fa445355;
}
.map-block > .map-picture > img {
    width: 100%;
    height: 100%;
}
.map-block > .map-description {
    padding: 0 50px;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FA4454;
}





/* === FOOTER === */

.footer {
    background-color: #0f1922;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: white;
    width: 95%;
    margin-top: 3rem;

}

footer img {
    width: 90px;
    height: 90px;
}

.foot-menu > .foot-list {
    list-style-type: none;
}

.foot-menu > .foot-list > .foot-list-item > a {
    margin-top: 5px;
    text-decoration: none;
    color: white;
    font-weight: 200;
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
}

.foot-menu > .foot-list > .foot-list-item > a:hover {
    color: #FA4454;
    transition: 0.4s ease;
}

.additional-information {
    padding: 20px;
    color: #FA4454;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /*Style for Navigation and Hamburger Menu*/
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation-menu {
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: 0.5s height ease-in-out;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        padding: 1.2rem 0;
    }

    .nav-toggle {
        display: block;
    }

    .open {
        height: 100vh;
    }

    .dropdown-content {
        position: relative;
        background: white;
        z-index: 1;
    }

    .dropdown{
        display: block;
        width: 100%;
    }

    .dropdown-content li {
        padding: 0.1rem 0;
    }
}
