/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        display: block;
    }

    .title {
        text-align: center;
        color: #0f1923;
        font-family: Calibri;
        font-size: 25px;
    }

    .slider {
        border-radius: 0;
        background-color: #ece8e1;
        margin-bottom: 3rem;
    }

    .slider > .slider-tab{
        border-radius: 0;
    }

    .slider > .slider-tab > button{
        color: white;
    }

    .patchNote{
        top: 10%;
    }

    .top-rated {
        border-radius: 0;
        margin-bottom: 3rem;
        background-color: #ece8e1;
    }

    .top-rated-tab {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }

    .top-rated-tab > .top-rated-item {
        width: 100%;
        background-color: #0f1922;
    }

    .top-rated-list > .top-rated-list-item{
        color: white;
        font-family: Calibri;
        font-size: 17px;
        font-weight: 500;
    }

    .top-rated-tab-two.active{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }

    .top-rated-tab-two > .top-rated-item {
        width: 100%;
        background-color: #0f1922;
    }

    .top-rated-action > .btn, .top-rated-action-two > .btn {
        background-color: #0f1923;
        color: white;
        padding: 11px;
        font-size: 16px;
    }

    .best {
        max-width: 100%;
        background-color: #ece8e1;
        border-radius: 0;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 100%;
    }

    .best-player {
        max-width: 260px;
        width: 100%;
        background-color: #0f1922;
    }

    .best-player > .player-info {
        color: white;
        font-family: Calibri;
        font-size: 16px;
        font-weight: 500;
    }

    .facebook-feed {
        background-color: #ece8e1;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        height: 700px;
    }

    .fb-page {
        margin: 0 auto;
    }

    .foot-menu > .foot-list > .foot-list-item > a {
        margin-top: 5px;
        text-decoration: none;
        color: white;
        font-weight: 200;
        display: block;
        margin-bottom: 1rem;
        font-size: 14px;
    }

    footer img{
        width: 72px;
        height: 90px;
    }

    @media only screen and (max-width: 450px) {
        .slider > .slider-tab > .slider-tab-text{
            top: 25%;
            font-size: 19px;
            font-family: Calibri;
        }

        .slider > .slider-tab > button{
            background-color: #FA4454;
            padding: 15px 25px;
            font-size: 17px;
        }

        .slider > .slider-tab{
            border-radius: 0;
        }

        .top-rated {
            border-radius: 0;
            margin-bottom: 3rem;
            background-color: #ece8e1;
        }

        .top-rated-tab {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 25px;
        }

        .top-rated-tab > .top-rated-item {
            width: 100%;
            border-radius: 0;
        }

        .top-rated-tab-two.active{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 25px;
        }

        .top-rated-tab-two > .top-rated-item {
            width: 100%;
        }

        .best-player{
            border-radius: 0;
        }

        .additional-information {
            color: white;
            margin-top: 3rem;
        }

        .foot-menu > .foot-list > .foot-list-item > a {
            font-size: 18px;
        }

        .footer{
            justify-content: space-evenly;
        }
    }

    @media only screen and (max-width: 375px) {
        .slider > .slider-tab > .slider-tab-text{
            top: 16%;
            font-size: 15px;
            font-family: Calibri;
        }

        .slider > .slider-tab > img{
            width: 300px;
            height: 300px;
        }

        .slider > .slider-tab{
            height: auto;
        }

        .foot-menu > .foot-list > .foot-list-item > a {
            font-size: 17px;
        }

        .additional-information {
            font-size: 15px;
        }
    }
}
