* {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    overflow-x: hidden;
    font-weight: 300;
    max-width: 1200px;
    background-image: url("../../images/main/sell-custom-valorant-stinger-transition.png");
}

/* === HEADER === */

header{
    margin-bottom: 2rem;
}
nav {
    background-color: #0f1922;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navigation-menu {
    flex-grow: 2;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: #FA4454;
    transition: 0.1s ease;
    border-bottom: 5px solid #FA4454;
    border-radius: 5px;
}

.logo {
    width: 90px;
    height: 90px;
}

.nav-toggle {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    padding-top: 0.5rem;
    cursor: pointer;
}

.hamburger-icon {
    filter: invert(100%) sepia(12%) saturate(7454%) hue-rotate(225deg) brightness(115%) contrast(116%);
}

.hidden {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content li {
    margin-bottom: 1.3rem;
    text-align: center;
}

.dropdown-content li a {
    color: black;
    font-size: 0.9rem;
}

.dropdown-content {
    margin-top: 0.4rem;
    padding-top: 1.5rem;
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    z-index: 1;
    border-radius: 0.3rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* === CONTAINER === */

.container {
    /*height: 100vh;*/
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}

.main-column {
    width: 100%;
    max-width: 885px;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 20px;
}

/*slider*/

.slider {
    /*padding: 0 20px;*/
    max-height: max-content;
    max-width: 100%;
    overflow: hidden;
    background-color: #00000059;
    /*background-color: #f3f1f1;*/
    position: relative;
    border-radius: 10px;
}

.title {
    color: #FA4454;
    font-size: larger;
    font-weight: bold;
    margin: 20px 50px;
}

.slider > .slider-tab {
    position: relative;
    border-radius: 10px;
    margin: 20px 35px;
    max-width: 840px;
    height: 400px;
    overflow: hidden;
}
.slider > .slider-tab > img {
    width: 100%;
    height: auto;
}
.slider > .slider-tab > .slider-tab-text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 150px;
    color: white;
    font-size: 35px;
}


.slider > .slider-tab > button {
    font-family: 'Kanit', sans-serif;
    background-color: #0f1922;
    color: #FA4454;
    font-weight: bold;
    font-size: large;
    position: absolute;
    left: 80px;
    bottom: 50px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
}

.slider > .slider-tab > button:hover {
    background-color: #FA4454;
    color: white;
    transition: 0.4s ease;
}

.slider > .slider-tab.slider-tab-hidden {
    display: none;
}

.slider > .slider-tab.slider-tab-visible {
    display: flex;
}

/*slider buttons*/
.slider > .slider-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slider > .slider-actions > button {
    background: none;
    border: none;
    font-size: 40px;
    color: #FA4454;
    cursor: pointer;
    width: 30px;
    height: 40px;
}

/*top rated*/
.top-rated {
    display: block;
    /*background-color: #f3f1f1;*/
    background-color: #00000059;
    max-height: 500px;
    max-width: 885px;
    overflow: hidden;
    border-radius: 10px;
}

.top-rated-tab {
    overflow: hidden;
    height: 350px;
    max-height: fit-content;
    max-width: 785px;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top-rated-tab > .top-rated-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 150px;
    width: 30%;
    background-color: #fa445355;
    cursor: pointer;
}

.top-rated-image {
    width: 50%;
    height: 100%;
    background-color: #FA4454;
}

.top-rated-list {
    text-align: center;
    width: 50%;
    height: fit-content;
    list-style-type: none;
}

.top-rated-list > .top-rated-list-item {
    font-weight: bold;
    color: #FA4454;
}

.top-rated-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-rated-action > .btn {
    font-family: 'Kanit', sans-serif;
    background-color: #0f1922;
    color: #FA4454;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;
}

.top-rated-action > .btn.hidden {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

.top-rated-action > button:hover {
    background-color: #FA4454;
    color: white;
    transition: 0.4s ease
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0f1922b4;
    visibility: hidden;
}

.top-rated-tab > .top-rated-item:hover .overlay {
    visibility: visible;
    transition: 0.5s ease;
}

.top-rated-tab-two {
    overflow: hidden;
    height: 350px;
    max-height: fit-content;
    max-width: 785px;
    margin: 0 50px 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top-rated-tab-two > .top-rated-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 150px;
    width: 30%;
    background-color: #fa445355;
    cursor: pointer;
}

.top-rated-tab-two {
    visibility: hidden;
}
.top-rated-tab-two > .top-rated-item:hover .overlay {
    visibility: visible;
    transition: 0.5s ease;
}


/*this is to load more items when the button is clicked*/
.top-rated.active {
    max-height: 950px;
}

.top-rated-tab-two.active {
    visibility: visible;
}

.top-rated-tab-two.active > .top-rated {
    max-height: max-content;
}

.top-rated-action-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-rated-action-two > .btn {
    font-family: 'Kanit', sans-serif;
    background-color: #0f1922;
    color: #FA4454;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.top-rated-action-two > .btn.hidden {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

.top-rated-action-two > button:hover {
    background-color: #FA4454;
    color: white;
    transition: 0.4s ease;
}

.sidebar {
    display: grid;
    grid-template-rows: max-content;
    grid-gap: 20px;
}

/*best*/
.best {
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    display: block;
    max-width: 295px;
    max-height: min-content
}

.best-player {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fa445355;
    margin: 0 80px 20px 90px;
    cursor: pointer;
}

.best-player:hover .overlay {
    top: 0;
    left: 0;
    visibility: visible;
}

.best-player > .player-card {
    width: 100%;
    height: 120px;
    background-color: #FA4454;
}
.best-player > .player-card > img {
    width: 100%;
    height: 100%;
}

.best-player > .player-info {
    padding: 20px;
    text-align: center;
    color: rgb(255, 144, 144);
    font-weight: 500;
}

/*FB Feed*/
.facebook-feed {
    background-color: #00000059;
    border-radius: 10px;
    overflow: hidden;
    max-height: 463px;
}

/* === FOOTER === */
.footer {
    background-color: #0f1922;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: white;
    width: 95%;
}

footer img {
    width: 90px;
    height: 90px;
}

.foot-menu > .foot-list {
    list-style-type: none;
}

.foot-menu > .foot-list > .foot-list-item > a {
    margin-top: 5px;
    text-decoration: none;
    color: white;
    font-weight: 200;
    display: block;
}

.foot-menu > .foot-list > .foot-list-item > a:hover {
    color: #FA4454;
    transition: 0.4s ease;
}

.additional-information {
    padding: 20px;
    color: #FA4454;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /*Style for Navigation and Hamburger Menu*/
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation-menu {
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: 0.5s height ease-in-out;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        padding: 1.2rem 0;
    }

    .nav-toggle {
        display: block;
    }

    .open {
        height: 100vh;
    }

    .dropdown-content {
        position: relative;
        background: white;
        z-index: 1;
    }

    .dropdown {
        display: block;
        width: 100%;
    }

    .dropdown-content li {
        padding: 0.1rem 0;
    }
}
