/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .container {
        display: block;
    }

    .title {
        text-align: center;
        color: #0f1923;
        font-size: 25px;
    }

    .slider {
        border-radius: 0;
        background-color: #ece8e1;
        margin-bottom: 2rem;
    }

    .top-rated {
        border-radius: 0;
        margin-bottom: 3rem;
        background-color: #ece8e1;
    }

    .top-rated-tab {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }

    .top-rated-tab > .top-rated-item {
        width: 100%;
        max-width: 250px;
        background-color: #0f1923;
    }

    .top-rated-tab-two.active{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }

    .top-rated-tab-two > .top-rated-item {
        width: 100%;
        max-width: 250px;
        background-color: #0f1923;
    }

    .best {
        max-width: 100%;
        background-color: #ece8e1;
        border-radius: 0;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 100%;
    }

    .best-player {
        max-width: 260px;
        width: 100%;
    }

    .best-player > .player-info {
        background-color: #0f1923;
    }

    .top-rated-action > .btn, .top-rated-action-two > .btn {
        background-color: #0f1923;
        color: white;
        padding: 11px;
        font-size: 16px;
    }

    .facebook-feed {
        background-color: #ece8e1;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .fb-page {
        margin: 0 auto;
    }

    .foot-menu > .foot-list > .foot-list-item > a {
        margin-top: 5px;
        text-decoration: none;
        color: white;
        font-weight: 200;
        display: block;
        margin-bottom: 1rem;
        font-size: 1.1rem;
    }

    .additional-information {
        margin-top: 3rem;
        color: white;
        font-size: 17px;
    }
}

/*!* Medium devices (landscape tablets, 768px and up) *!*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        display: block;
    }

    .slider {
        border-radius: 0;
        background-color: #ece8e1;
        margin-bottom: 2rem;
    }

    .slider > .slider-tab > button{
        background-color: #FA4454;
        padding: 15px 25px;
        font-size: 17px;
    }

    .slider > .slider-tab{
        border-radius: 0;
    }

    .title {
        text-align: center;
        color: #0f1923;
        font-family: Calibri;
        font-size: 25px;
    }

    .top-rated {
        border-radius: 0;
        margin-bottom: 3rem;
        background-color: #ece8e1;
    }

    .top-rated-tab {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
    }

    .top-rated-tab-two.active{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
    }

    .top-rated-tab > .top-rated-item {
        width: 100%;
        max-width: 250px;
        background-color: #0f1922;
        border-radius: 0;
    }

    .top-rated-list > .top-rated-list-item{
        color: white;
        font-family: Calibri;
        font-size: 17px;
        font-weight: 500;
    }

    .top-rated-tab-two > .top-rated-item {
        width: 100%;
        background-color: #0f1922;
    }

    .top-rated-action > .btn, .top-rated-action-two > .btn {
        background-color: #0f1923;
        color: white;
        padding: 11px;
        font-size: 16px;
    }

    .sidebar{
        grid-template-columns: 1fr 1fr;
    }

    .slider > .slider-tab > button{
        color: white;
    }

    .best {
        max-width: 100%;
        background-color: #ece8e1;
        border-radius: 0;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 100%;
    }

    .best-player {
        max-width: 260px;
        width: 100%;
        background-color: #0f1922;
        border-radius: 0;
    }

    .best-player > .player-info {
        color: white;
        font-family: Calibri;
        font-size: 16px;
    }

    .player-username{
        font-weight: 500;
    }

    .facebook-feed{
        height: 650px;
    }

    .facebook-feed {
        background-color: #ece8e1;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .fb-page {
        margin: 0 auto;
    }

    .main-column{
        margin: 0 auto;
    }

    .additional-information {
        margin-top: 3rem;
        color: white;
        font-size: 17px;
    }

    .footer{
        justify-content: space-around;
    }
}
