@media only screen and (max-width: 600px) {
    .container {
        background-color: #ece8e1;
        border-radius: 0;
        margin-top: 2rem;
        width: 80%;
    }

    .contact-title > h1 {
        color: #0f1923;
        font-size: 30px;
    }

    .contact-input {
        color: #0f1923;
        padding: 15px;
    }

    .contact-form > form {
        width: 100%;
        padding: 0 15px;
        max-width: 300px;
    }

    input {
        padding: 10px 10px;
    }

    input::placeholder, textarea::placeholder {
        color: white;
        font-size: 17px;
    }

    .contact-button {
        padding: 0;
    }

    .contact-button button {
        padding: 12px 23px;
        color: white;
        font-weight: 500;
    }

    .foot-menu > .foot-list > .foot-list-item > a {
        margin-top: 5px;
        text-decoration: none;
        color: white;
        font-weight: 200;
        display: block;
        margin-bottom: 1rem;
        font-size: 16px;
    }

    .additional-information {
        color: white;
        margin-top: 2rem;
    }

    textarea {
        height: 200px;
    }
}

@media only screen and (max-width: 400px) {
    .contact-title > h1 {
        font-size: 25px;
    }

    .contact-form > form {
        width: 100%;
        padding: 0 15px;
    }

    .contact-input label {
        font-size: 17px;
    }

    input::placeholder, textarea::placeholder {
        font-size: 15px;
    }

    textarea {
        height: 170px;
    }
}

@media only screen and (max-width: 335px) {
    .contact-title > h1 {
        font-size: 20px;
    }

    .contact-input label {
        font-size: 16px;
    }

    input {
        padding: 8px 8px;
    }

    input::placeholder, textarea::placeholder {
        font-size: 15px;
    }

    textarea {
        height: 150px;
    }

    .foot-menu > .foot-list > .foot-list-item > a {
        font-size: 15px;
    }

    footer img{
        width: 70px;
        height: 70px;
    }
}
