* {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    overflow-x: hidden;
    font-weight: 300;
    max-width: 1200px;
    background-image: url("../../images/main/sell-custom-valorant-stinger-transition.png");
}

/* === HEADER === */

nav {
    background-color: #0f1922;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navigation-menu {
    flex-grow: 2;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

nav ul li a:hover, .active-li-item {
    color: #FA4454;
    transition: 0.1s ease;
    border-bottom: 5px solid #FA4454;
    border-radius: 5px;
}

.logo {
    width: 90px;
    height: 90px;
}

.nav-toggle {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    padding-top: 0.5rem;
}

.hamburger-icon {
    filter: invert(100%) sepia(12%) saturate(7454%) hue-rotate(225deg) brightness(115%) contrast(116%);
}

.hidden {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content li {
    margin-bottom: 1.3rem;
    text-align: center;
}

.dropdown-content li a {
    color: black;
    font-size: 0.9rem;
}

.dropdown-content {
    margin-top: 0.4rem;
    padding-top: 1.5rem;
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    z-index: 1;
    border-radius: 0.3rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* === CONTENT === */
main {
    display: flex;
    justify-content: center;
}
.container {
    background-color: rgba(0, 0, 0, 0.349);
    height: min-content;
    width: 700px;
    border-radius: 10px;
    padding: 10px;
}
.about-us-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us-title > h1 {
    font-size: 40px;
    color: #FA4454;
}

h3{
    color: white;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.defy-learn-game{
    display: flex;
}

.defy-the-limits{
    padding: 0 15px;
    margin-top: 4rem;
}

.username{
    font-size: 22px;
}

.learn-the-game{
    width: 50%;
    color: white;
    letter-spacing: 1px;
    padding: 0 15px;
}

.agents-creativity{
    color: white;
    letter-spacing: 1px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.defy-gameplay video{
    height: 95%;
}

.container img {
    width: 100%;
    height: 50%;
}
/*=== SOCIALS ===*/

.social-media-contact {
    width: 100%;
    display: flex;
    justify-content: center;
}
.social-list {
    list-style-type: none;
    display: inline-flex;
    padding: 0;
}
.social-list > .social-list-item {
    height: 40px;
    width: 40px;
    text-align: center;
    margin: 0 5px;
}
.social-list > .social-list-item > a {
    font-size: 30px;
    color: #FA4454;
}
.social-list > .social-list-item > a:hover {
    color: white;
}

/* === FOOTER === */

.footer {
    background-color: #0f1922;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: white;
    width: 95%;
    margin-top: 3rem;

}

footer img {
    width: 90px;
    height: 90px;
}

.foot-menu > .foot-list {
    list-style-type: none;
}

.foot-menu > .foot-list > .foot-list-item > a {
    margin-top: 5px;
    text-decoration: none;
    color: white;
    font-weight: 200;
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
}

.foot-menu > .foot-list > .foot-list-item > a:hover {
    color: #FA4454;
    transition: 0.4s ease;
}

.additional-information {
    padding: 20px;
    color: #FA4454;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /*Style for Navigation and Hamburger Menu*/
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation-menu {
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: 0.5s height ease-in-out;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        padding: 1.2rem 0;
    }

    .nav-toggle {
        display: block;
    }

    .open {
        height: 100vh;
    }

    .dropdown-content {
        position: relative;
        background: white;
        z-index: 1;
    }

    .dropdown{
        display: block;
        width: 100%;
    }

    .dropdown-content li {
        padding: 0.1rem 0;
    }
}
